*{
    font-family: Arial, Helvetica, sans-serif
}

body{
    font-weight: bold;
}

/*---------------NAVBAR---------------*/

nav{
    position: absolute;
    width: 100%;
    height: 140px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.divNav{
    width: 40%;
    height: 100%;
    padding: 0px 2%;

    display: flex;
    justify-content: start;
    align-items: center;

    color: rgba(57,88,208,255);
    font-size: 3ch;
    background-color: white;
}

.divMenu{
    width: 30%;
    height: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(233,241,252,255);
}

.navItem{
    color: rgba(114,128,152,255);
    font-size: 2ch;
    text-decoration: none;
}

.navItem:hover{
    background-color: rgba(39,71,197,255);
    transition: 0.5s;
    padding: 20px 25px; /*Se hizo una animación xd*/
    border-radius: 5%;
    color: white;
}

/*---------------FIRST SECTION---------------*/
.triangulo {
    margin-left: 80px;
    margin-top: 0px;
    width: 0; 
    height: 0; 
    border-left: 100px solid #1f3e72;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent; 

    transform: rotate(90deg)  translateX(-50%) translateY(-50%);
    background-color:white;
    opacity: 0.05;
}

h1{
    color: #1f3e72;
    font-size: 8.1ch;
}

p{
    font-size: 2.5ch;
    color: gray;
}

.firstSection{
    position: relative;
    width: 100%;
    height: 900px;
    margin: 140px 0px;
    padding: 5px 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: white;
}

.primerTitulo{
    position: inherit;
    margin: 10px 20%;
    width: 40%;
    height: 40%;

    background-color: transparent;
}

.divSubseccionIzq{
    width: 48%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: transparent;
}

.divSubseccionDer{
    position: inherit;
    width: 48%;
    height: 100%;

    background-image: url('https://static.enfermeria21.com/wp-content/uploads/ddimport/2017/02/enfermera-1000x650.jpg');
    background-size: cover;
}

.divMejoras{
    position: inherit;
    width: 55%;
    height: 20%;
    margin: 20px 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: transparent;
}

.divMejorasItem{
    width: 100%;
    margin: 5% 5%;
    height: 70%;

    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.estrella{
    margin: 5px 5px;
    border: 5px 5px;
    padding: 5px 5px;

    color: rgb(85, 76, 0);
    background-color: rgb(234, 255, 118);
    opacity: 0.8;
    border-radius: 20%;
}

.segundoTriangulo{
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid #1f3e72;
        border-bottom: 50px solid transparent;

        transform: translateX(1150%) translateY(-180%);
        opacity: 0.05;
}

.divSchedule{
    position: inherit;
    padding: 10px 10px;
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    transform: translateX(50%) translateY(-180%);
}

.clock{
    margin: 8px 8px;
    padding: 5px 5px;
    color: rgba(39,71,197,255);
    background-color: #91a3e9;
    border-radius: 20%;
}

.divDatos{
    position: absolute;
    width: 40%;
    height: 18%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
    transform: translateY(480%) translateX(-40%);
    box-shadow: -25px 20px 35px #91a3e9;
}

.divDatosItem{
    padding: 2px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: transparent;
}

.datosIcon{
    margin: 8px 8px;
    padding: 2px;
    background-color: #91a3e9;
    color: rgba(39,71,197,255);
    border-radius: 20%;
}

h3{
    font-size: 2.5ch;
}

.botonSumbit{
    margin: 10px 30px;
    padding: 10px;

    background-color: rgba(39,71,197,255);
    color: white;
    border-radius: 5%;
}


/*---------------SECOND SECTION---------------*/

.divLogoMarcas{
    position: inherit;
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    opacity: 0.4;
}

.marcasItem{
    position: inherit;
    width: 20%;
    height: 100%;
}

.divSegundaSeccion{
    position: inherit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border-style: solid; */

    background-color: transparent;
}

.subDivDer{
    position: inherit;
    width: 27%;
    height: 50%;
    background-color: transparent;
}

.subDivIzq{
    position: inherit;
    width: 10%;
    height: 50%;


    background-color: transparent;
}

.triangulo2Sec{
        width: 0;
        height: 0;
        border-top: 120px solid transparent;
        border-right: 220px solid gray;
        border-bottom: 120px solid transparent;
        opacity: 0.2;

        transform: translateX(175%) translateY(-25%);
}

.linea{
    position: absolute;
    width: 35%;
    height: 0.5%;
    background-color: gray;
    opacity: 0.05;

    transform: translateY(-3820%) translateX(-32%);
}

h2{
    font-size: 7ch;
    color: #1f3e72;
}

.divCards{
    position: inherit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
}

.cardModel{
    margin: 10px 20px;
    padding: 70px 24px;
    position: inherit;
    width: 15%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;


    background-color: transparent;
    border-radius: 3%;
    box-shadow: -10px 10px 25px  #91a3e9;
}

.iconCard{  
    width: 15%;
    height: 15%;
    margin: 8px 8px;
    padding: 2px;
    background-color: #91a3e9;
    color: rgba(39,71,197,1);
    border-radius: 20%;
}


/*---------------THIRD SECTION---------------*/

.trianguloDerecha{
    width: 0;
    height: 0;
    border-top: 120px solid transparent;
    border-bottom: 140px solid transparent;
    border-left: 120px solid gray;
    opacity: 0.2;

    transform: translateY(-105%);
}

.linea3seccion{
    position: absolute;
    width: 65%;
    height: 0.5%;
    background-color: gray;
    opacity: 0.1;

    transform: translateY(-9720%);
}

.div3SubseccionIzq{
    position: inherit;
    width: 35%;
    height: 95%;
    
    background-image: url('https://atardecersereno.com/co/wp-content/uploads/2019/06/servicios-de-enfermeria-para-la-tercera-edad.png');
    background-color: rgba(39,71,197,0.8);
    background-size: cover;

    transform: translateY(13%);
}

.div3SubseccionDer{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
}

.contenedorOpciones{
    position: inherit;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
}

.Sec3Item{
    position: inherit;
    width: 100%;
    height: 12%;
    padding: 10px 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-radius: 2%;
    font-size: 1.2ch;
    box-shadow: -25px 20px 35px #91a3e9;
}



.Sec3ItemIcon{
    margin: 10px 10px;
    padding: 5px 5px;
    width: 3.2%;
    height: 60%;

    background-color: #91a3e9;
    color: rgba(39,71,197,1);
    border-radius: 20%;
}


/*---------------FOURTH SECTION---------------*/

.section4{
    width: 100%;
    height: 900px;

    background-color: transparent;
}

.divSec4{
    position: inherit;
    margin: 20px;
    padding: 10px;
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
}

.divTriangulo4Sec{
    width: 0;
    height: 0;
    border-top: 120px solid transparent;
    border-right: 220px solid gray;
    border-bottom: 120px solid transparent;
    opacity: 0.2;

    transform: translateY(-23.5%) translateX(175%);
}

.linea4Sec{
    position: absolute;
    width: 35%;
    height: 0.5%;
    background-color: gray;
    opacity: 0.05;

    transform: translateY(-1175%) translateX(90%);
}

.divTitText{
    width: 30%;
    height: 100%;

    background-color: transparent;
}

.divSec4Final{
    position: inherit;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

.sec4Der{
    position: inherit;
    width: 40%;
    height: 80%;

    background-image: url('https://pngimage.net/wp-content/uploads/2018/06/male-nurse-png-4.png');
    background-color: #91a3e9;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 2%;
}

.fondoImg{
    position: inherit;
    width: 50%;
    height: 50%;

    background-color: #91a3e9;
}

.sec4Izq{
    width: 40%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: transparent;
}

.divGrid{
    position: inherit;
    width: 40%;
    height: 40%;
    
    display: grid;
    justify-content: center;
    grid-template-columns: 100% 100%;
    grid-template-rows: 100% 100%;

    grid-column: 1/2;
    grid-row: 1/2;

    transform: translateY(25%);
}

.gridItem{
    position: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border-radius: 2%;
    box-shadow: -25px 20px 35px #91a3e9;
}

.subDivGrid{
    position: inherit;
    width: 80%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

.sec4Icon{
    position: inherit;
    width: 20%;
    height: 55%;
    margin: 5px;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;    

    background-color: #91a3e9;
    color: rgba(39,71,197,255);
    border-radius: 20%;   
}

.botonContacto{
    width: 40%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91a3e9;
    border-radius: 5%;

    color: white;
    font-size: 2ch;
    text-decoration: none;
}


.botonContacto:hover{
    background-color: rgba(39,71,197,255);
    transition: 0.5s;
    padding: 20px 25px; /*Se hizo una animación xd*/
    border-radius: 5%;
    color: white;
}

/*---------------FOOTER SECTION---------------*/

footer{
    width: 100%;
    height: 400px;
    background-color: rgba(145, 163, 233, 0.3);
    padding: 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divFooterIzq{
    position: inherit;
    width: 40%;
    height: 100%;

    background-color: transparent;
}

.divSubFooterIzq{
    position: inherit;
    width: 25%;
    height: 60%;

    background-color: transparent;
}

.LogoFooter{
    padding: 0px 2%;

    color: rgba(57,88,208,255);
    font-size: 5ch;
    background-color: transparent;
}

.divDerechos{
    width: 100%;
    height: 20%;

    display: flex;
    align-items: flex-end;

    background-color: transparent;
    font-size: 2.2ch;
    color: gray
}

.divFooterDer{
    position: inherit;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: transparent;
}

.divContacto{
    position: inherit;
    width: 100%;
    height: 60%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: transparent;
    transform: translateY(50%);
}

.contactoItem{
    width: 30%;
    height: 100%;
    
    background-color: transparent;
}

.tituloContacto{
    font-size: 3.3ch;
}

.divTerminos{
    position: inherit;
    margin-left: 10%;
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: transparent;
    color: grey;
    font-size: 2.5ch;

    transform: translateY(-550%);
}

.triangulo-equilatero-bottom{
    width: 0;
    height: 0;
    border-right: 200px solid transparent;
    border-top: 200px solid transparent;
    border-left: 200px solid transparent;
    border-bottom: 200px solid grey;

    transform: translateY(-22%) translateX(102%);
    opacity: 0.2;
}